@import "../../../styles/utilities/variables";

.admin-btn {
  margin-bottom: 50px;
  display: flex;
  justify-content: left;
  &__areas {
    background-color: $misc-clear;
    height: 44px;
    width: 300px;
    color: $font-color-light;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }
  &__areas:hover {
    background-color: $misc-accent;
  }

  &__form-submit {
    color: darkorchid;
    font-size: 14px;
    text-decoration: underline;
  }
}
.admin-btn__areas.active {
  background-color: $misc-accent;
}