// Colores de backgrounds
$background-generic: #ffff;
$background-manager: #b4d2ff;
$background-admin: #f9cd8b;
$background-player: #e7efe4;

// Colores de fuentes
$font-color-dark: black;
$font-color-light: #ffff;
$font-color-text: #6c6c6c;
$font-color-border: #e5e5e5;
