// Colores de backgrounds
$background-generic: #ffff;
$background-manager: #b4d2ff;
$background-admin: #f9cd8b;
$background-player: #e7efe4;
$background-footer: #eeeeee;
$background-scores: #dcdcdc;

// Colores de fuentes
$font-color-dark: black;
$font-color-light: #ffff;
$font-color-text: #6c6c6c;
$font-color-border: #e5e5e5;
$font-color-scores: #747474;

// Colores miscelanea
$misc-clear: #d3d3d3;
$misc-accent: #0f4314;
$misc-profile: #E8E8E8;
