@import "../../../../styles/utilities/variables";

.dashboard-admin {
  &__player {
    &-data {
      font-family: "Montserrat";
      width: 100%;
      border: none;
      outline: none;

      &-edit {
        font-family: "Montserrat";
        width: 100%;
        border: 1px solid $font-color-dark;
        outline: none;
      }
    }

    &-actions {
      color: $font-color-alert;
    }

    &-save {
      color: $misc-purple;
    }

    & select {
      & option {
        font-family: "Montserrat";
      }
    }

    &-rol {
      background-color: transparent;
      font-family: "Montserrat";
      border: none;
      appearance: none;

      &-edit {
        background-color: transparent;
        font-family: "Montserrat";
        border: none;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    color: $misc-clear;
    margin-bottom: 20px;
  }

  &__new-player {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    background-color: $font-color-light;
    border-radius: 10px;
    margin: 10px 0px;
  }

  &__input {
    border: none;
    font-family: "Montserrat";
    margin: 0px 5px;
    color: $font-color-dark;
    font-size: 14px;
    padding: 10px;
    width: 100%;
  }

  &__role-selection {
    border: none;
    background-color: transparent;
  }

  &__form-submit {
    padding: 0px 15px;
    color: $misc-purple;
    text-decoration: underline;
  }

  & table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 5px 5px;
  }

  // Cabecera tabla

  &-delete-player-head {
    text-align: center !important;
    color: $font-color-alert;
  }

  &-delete-player {
    text-align: center !important;
    color: $font-color-alert;
    text-decoration: underline;
    cursor: pointer;
  }

  &-delete-player-row {
    text-align: center;
  }

  & thead th:first-child {
    border-radius: 5px 0 0 5px;
  }

  & thead th:last-child {
    border-radius: 0 5px 5px 0;
  }

  & th {
    padding: 10px 0px 10px 0px;
    text-align: left;
    background-color: $background-generic;
    font-size: 14px;
    font-weight: normal;
    margin: 20px 0px 2px 0px;
    position: relative;
    // padding-left: 30px;
  }

  & td:first-child {
    width: 100px;
  }

  &-title {
    position: absolute;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    top: -35px;
    left: -40px;
    z-index: 1;
    background-color: $font-color-dark;
    color: $font-color-light;
    font-weight: bold;
    padding-left: 20px;
    line-height: 40px;
  }

  // Cuerpo tabla

  &-spacer {
    height: 13px;

    &-x2 {
      height: 26px;
    }
  }

  &-row {
    position: relative;
    height: 35px;
  }

  & tbody td {
    background-color: $background-generic;
  }

  & tbody td:first-child {
    border-radius: 5px 0 0 5px;
  }

  & tbody td:last-child {
    border-radius: 0 5px 5px 0;
  }

  &-thumbnail {
    position: absolute;
    top: -5px;
    left: -5px;
    min-width: 45px;
    max-width: 45px;
    border-radius: 100%;
  }
}
